html, body {
    height: 100%;
    margin: 5%;
    padding: 5%;
    background-color: black;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
